/* #myPDF{
    width: 75%;
    height: 975px;
for pdf
}
  */


  header a{
    text-decoration: none;
}
@media screen and (max-width: 900Px) {
    .resume{
 width: 400px;       
    }
}
    @media screen and (max-width: 400Px) {
    .resume{
 width: 300px;       
    }
}
